## Toxic comments analysis

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
import matplotlib.pyplot as plt
import string
import scipy
import keras
import sklearn
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.metrics import AUC
from tensorflow.keras.models import load_model

Using TensorFlow backend.

### Read data

Read clean data and split to features(comments) and labels

In [2]:
# Input data
train_df = pd.read_csv('data/train_clean.csv')
X_train = train_df['comment_clean']
y_train = train_df[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']]

### Build sklearn pipeline and tune hyperparameters

We need a little change in model performance reach required auc score - less than 1%. Usually hypper parameter search, during witch multidimentional parameter spaceis explored to find the best model is really computatianally and time expensive. Therefore I will focus of a few features, that I think can help me improve the model's performance. Based on learning curves from initial model, it was quite easy for a neural network to fit to data. Most likely the input features space was too small to retain all the necessary information from the comments, therefore increasing LSA n_dim variable should help increase the model accuracy.

For hyper parameter tuning I will use sklearn pipeline. Since we are using TFIDF and LSA implementations from sklearn pipeline will incorporate there algorithms really easily. For Keras NN model, I will need to define estimator, for this I will use keras wrapper for sklearn.

In [3]:
# Define model
def create_model(l1_dim=10, lsa_dim=10, dropout=0.):
    model = Sequential()
    model.add(Dense(l1_dim, input_dim=lsa_dim, activation='relu'))
    model.add(Dropout(dropout))
    model.add(Dense(6, activation='sigmoid'))

    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[AUC(name='auc')])
    return model

# Build keras estimator
keras_estimator = KerasClassifier(build_fn=create_model, verbose=3, epochs=20)

Next we create the pipeline. We provide cleaned comments as an input to the pipeline. Inside the pipeline the data goes through TFIDF, LSA and NN steps and we get predictions as an output.

In [4]:
pipeline_estimator = Pipeline([('tfidf', TfidfVectorizer(stop_words='english')), 
                               ('lsa', TruncatedSVD()), 
                               ('nn', keras_estimator)])

We also need to define which parameters we are looking for. For parameter search I will use grid search. Mainly I will try to change LSA dimentions, TFIDF size

Initial model's parameters:
- TFIDF: max_features=10000
- LSA: n_dim=10
- NN: hidden_layer_dim=10

In [5]:
# We have 3 dictionaries, because the nn input depends on lsa dimentions
# and I could not find a more convenient way on how to specify dependant parameters in a grid search :)

param_grid = [ 
    {
        'tfidf__max_features': [10000, 30000, 100000],
        'lsa__n_components': [30],
        'nn__lsa_dim': [30],
        'nn__l1_dim': [20, 30, 50],
        'nn__dropout': [0.5, 0.3, 0.]
    },
    {
        'tfidf__max_features': [10000, 30000, 100000],
        'lsa__n_components': [50],
        'nn__lsa_dim': [50],
        'nn__l1_dim': [20, 30, 50],
        'nn__dropout': [0.5, 0.3, 0.]
    },
    {
        'tfidf__max_features': [10000, 30000, 100000],
        'lsa__n_components': [100],
        'nn__lsa_dim': [100],
        'nn__l1_dim': [20, 30, 50],
        'nn__dropout': [0.5, 0.3, 0.]
    }]

       
kfold_splits = 5
grid = GridSearchCV(estimator=pipeline_estimator,  
                    scoring='roc_auc',
                    n_jobs=5, 
                    verbose=1,
                    return_train_score=True,
                    cv=kfold_splits,
                    param_grid=param_grid)

In [6]:
grid_result = grid.fit(X_train, y_train)

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed: 38.3min
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed: 169.8min
[Parallel(n_jobs=5)]: Done 405 out of 405 | elapsed: 373.6min finished

Train on 159565 samples
Epoch 1/20
Epoch 2/20
Epoch 3/20
Epoch 4/20
Epoch 5/20
Epoch 6/20
Epoch 7/20
Epoch 8/20
Epoch 9/20
Epoch 10/20
Epoch 11/20
Epoch 12/20
Epoch 13/20
Epoch 14/20
Epoch 15/20
Epoch 16/20
Epoch 17/20
Epoch 18/20
Epoch 19/20
Epoch 20/20

In [7]:
# Show hyperparameter tuning results
models_df = pd.DataFrame(grid_result.cv_results_['mean_test_score'], columns=['mean_auc_score'])
models_df['std'] = grid_result.cv_results_['std_test_score']
models_df = pd.concat((models_df, pd.DataFrame(grid_result.cv_results_['params'])), axis=1)

models_df.sort_values(by=['mean_auc_score'], ascending=False)

,mean_auc_score,std,lsa__n_components,nn__dropout,nn__l1_dim,nn__lsa_dim,tfidf__max_features
71,0.960859,0.000559,100,0.3,50,100,100000
77,0.960762,0.001034,100,0.0,30,100,100000
70,0.960663,0.001552,100,0.3,50,100,30000
67,0.960483,0.000802,100,0.3,30,100,30000
79,0.960444,0.000997,100,0.0,50,100,30000
61,0.960422,0.001058,100,0.5,50,100,30000
69,0.960348,0.000794,100,0.3,50,100,10000
80,0.960343,0.000793,100,0.0,50,100,100000
62,0.960294,0.001099,100,0.5,50,100,100000
68,0.960274,0.001350,100,0.3,30,100,100000
75,0.960239,0.001246,100,0.0,30,100,10000
76,0.960232,0.001440,100,0.0,30,100,30000
66,0.960227,0.001314,100,0.3,30,100,10000
74,0.959986,0.000906,100,0.0,20,100,100000
72,0.959932,0.000625,100,0.0,20,100,10000
60,0.959920,0.001443,100,0.5,50,100,10000
73,0.959861,0.001303,100,0.0,20,100,30000
78,0.959821,0.000833,100,0.0,50,100,10000
65,0.959418,0.001666,100,0.3,20,100,100000
63,0.958886,0.000941,100,0.3,20,100,10000
59,0.958843,0.000941,100,0.5,30,100,100000
64,0.958550,0.000981,100,0.3,20,100,30000
58,0.958419,0.001009,100,0.5,30,100,30000
57,0.957974,0.001611,100,0.5,30,100,10000
55,0.956511,0.001204,100,0.5,20,100,30000
56,0.956400,0.001179,100,0.5,20,100,100000
54,0.956011,0.001152,100,0.5,20,100,10000
53,0.955356,0.001613,50,0.0,50,50,100000
44,0.955292,0.002040,50,0.3,50,50,100000
52,0.955031,0.002171,50,0.0,50,50,30000
...,...,...,...,...,...,...,...
24,0.952415,0.002104,30,0.0,50,30,10000
32,0.952374,0.001881,50,0.5,30,50,100000
17,0.952256,0.002139,30,0.3,50,30,100000
16,0.952153,0.002284,30,0.3,50,30,30000
13,0.952146,0.002003,30,0.3,30,30,30000
22,0.952122,0.001709,30,0.0,30,30,30000
20,0.952071,0.001676,30,0.0,20,30,100000
15,0.952059,0.002413,30,0.3,50,30,10000
25,0.952038,0.001867,30,0.0,50,30,30000
14,0.951963,0.002041,30,0.3,30,30,100000
8,0.951916,0.001719,30,0.5,50,30,100000
23,0.951915,0.001542,30,0.0,30,30,100000
19,0.951661,0.001795,30,0.0,20,30,30000
12,0.951624,0.002038,30,0.3,30,30,10000
10,0.951546,0.001732,30,0.3,20,30,30000
29,0.951494,0.001524,50,0.5,20,50,100000
7,0.951466,0.001879,30,0.5,50,30,30000
18,0.951363,0.001955,30,0.0,20,30,10000
11,0.951352,0.001900,30,0.3,20,30,100000
4,0.951283,0.001366,30,0.5,30,30,30000
21,0.951106,0.002343,30,0.0,30,30,10000
6,0.951009,0.002280,30,0.5,50,30,10000
5,0.950859,0.001971,30,0.5,30,30,100000
9,0.950748,0.001915,30,0.3,20,30,10000
27,0.950692,0.001608,50,0.5,20,50,10000
28,0.950673,0.001554,50,0.5,20,50,30000
3,0.950498,0.001451,30,0.5,30,30,10000
2,0.949659,0.001666,30,0.5,20,30,100000
1,0.949070,0.002159,30,0.5,20,30,30000
0,0.948763,0.001199,30,0.5,20,30,10000

In [32]:
# Average performances for each architecture and show top 10 models
grouped_models_df = models_df.groupby(["lsa__n_components","nn__dropout",
                   "nn__l1_dim", "nn__lsa_dim",
                   "tfidf__max_features"], 
                 as_index=False).agg({"mean_auc_score": 'mean', 'std': 'mean'})
print(grouped_models_df.shape)
grouped_models_df.sort_values(by=['mean_auc_score'], ascending=False).head(10)

(81, 7)

,lsa__n_components,nn__dropout,nn__l1_dim,nn__lsa_dim,tfidf__max_features,mean_auc_score,std
71,100,0.3,50,100,100000,0.960859,0.000559
59,100,0.0,30,100,100000,0.960762,0.001034
70,100,0.3,50,100,30000,0.960663,0.001552
67,100,0.3,30,100,30000,0.960483,0.000802
61,100,0.0,50,100,30000,0.960444,0.000997
79,100,0.5,50,100,30000,0.960422,0.001058
69,100,0.3,50,100,10000,0.960348,0.000794
62,100,0.0,50,100,100000,0.960343,0.000793
80,100,0.5,50,100,100000,0.960294,0.001099
68,100,0.3,30,100,100000,0.960274,0.001350

Save best trained model

In [8]:
# Workaround to save Keras model that is within sklearn pipeline

# Save Keras model seperately
grid_result.best_estimator_.named_steps['nn'].model.save('models/keras_model.h5')

# Remove keras model from pipeline and save the rest of pipeline
grid_result.best_estimator_.named_steps['nn'].model = None
joblib.dump(grid_result.best_estimator_, 'models/pipeline.pkl')

['models/pipeline.pkl']

In [17]:
# Test loading the pipeline
pipeline = joblib.load('models/pipeline.pkl')
pipeline.named_steps['nn'].model = load_model('models/keras_model.h5')

### Checking performance on test data

To actually understand how the model would perform with unseen data, we need to evaluate on test data. This will be the result that we will compare with the benchmark.

In [18]:
# Read data
X_test = pd.read_csv('data/test.csv')
y_test = pd.read_csv('data/test_labels.csv')

X_test.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [19]:
# Points with value of -1 were not used for evaluation
y_test.shape

(153164, 7)

In [20]:
# join comments with labels and remove rows where labels are '-1'
test_df = X_test.merge(y_test, on='id')
test_df_filtered = test_df[test_df['toxic'] != -1]
test_df_filtered.shape

(63978, 8)

In [21]:
X_test_filtered = test_df_filtered['comment_text']
y_test_filtered = test_df_filtered[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']]

In [22]:
def clean_comments(df):

    # Lowercase
    df_clean = df.str.lower()

    # Change empty space characters to spaces
    df_clean = df_clean.str.replace(r'\s', ' ', regex=True)

    # Remove non ASCII letters
    df_clean = df_clean.str.replace(r"[^a-z ']+", '', regex=True)

    # Normalize spaces (for readability)
    df_clean = pd.Series([" ".join(x.split()) for x in df_clean])
    
    return df_clean

In [23]:
def eval_auc(y, pred):
    auc_list = []
    for i in range(6):
    
        fpr, tpr, _ = sklearn.metrics.roc_curve(y.iloc[:, i].values, pred[:, i])
        auc_list.append(sklearn.metrics.auc(fpr, tpr))
    
    print('AUC for each class:')
    print(np.array(auc_list))
    print('Mean AUC:', np.mean(auc_list))

In [24]:
X_test_clean = clean_comments(X_test_filtered)
pred_test = pipeline.predict_proba(X_test_clean)

In [25]:
# Evaluate
eval_auc(y_test_filtered, pred_test)

AUC for each class:
[0.93265655 0.97933795 0.95586903 0.95728767 0.94414684 0.94566857]
Mean AUC: 0.952494435370589

As we can see the model is performing great, and is above the set benchmark.

### Check the results (Results include highlly toxic language)

In [53]:
from IPython.display import display

In [54]:
check_df = pd.DataFrame(np.hstack((pred_test, y_test_filtered)), columns=['toxic_p', 'severe_toxic_p', 'obscene_p', 'threat_p', 'insult_p', 'identity_hate_p', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate'])
check_df['comments'] = X_test_filtered.values

In [56]:
check_df = check_df.round()

# print results for every class
for t_class in ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']:
    print(f'\nPredictions for {t_class} class:')
    display(check_df[check_df[t_class + '_p'] > 0.5].head(5)[['comments', t_class, t_class + '_p']])

Predictions for toxic class:

                                             comments  toxic  toxic_p
1                    :Dear god this site is horrible.    0.0      1.0
8   == Arabs are committing genocide in Iraq, but ...    1.0      1.0
17  " \n\n ==balance== \n This page has one senten...    0.0      1.0
24  DJ Robinson is gay as hell! he sucks his dick ...    1.0      1.0
27  I WILL BURN YOU TO HELL IF YOU REVOKE MY TALK ...    0.0      1.0

Predictions for severe_toxic class:

,comments,severe_toxic,severe_toxic_p
5124,fuck all you fucking nigers,0.0,1.0
5144,you ya fucking dirty little mother fucking coc...,0.0,1.0
6490,==Son of a bitch== \n\n Hey you fucking neo-Na...,1.0,1.0
7430,== f.uck you == \n\n you are an ass.hole and a...,1.0,1.0
7583,== for fucking israeal == \n\n fuck uuuuuuu,0.0,1.0

Predictions for obscene class:

                                             comments  obscene  obscene_p
17  " \n\n ==balance== \n This page has one senten...      0.0        1.0
24  DJ Robinson is gay as hell! he sucks his dick ...      1.0        1.0
29               :Fuck off, you anti-semitic cunt.  |      1.0        1.0
40  ::No, he is an arrogant, self serving, immatur...      1.0        1.0
79                        WHAT THE HELL \n\n   Justin      0.0        1.0

Predictions for threat class:

Empty DataFrame
Columns: [comments, threat, threat_p]
Index: []

Predictions for insult class:

                                             comments  insult  insult_p
17  " \n\n ==balance== \n This page has one senten...     0.0       1.0
24  DJ Robinson is gay as hell! he sucks his dick ...     1.0       1.0
29               :Fuck off, you anti-semitic cunt.  |     1.0       1.0
40  ::No, he is an arrogant, self serving, immatur...     1.0       1.0
79                        WHAT THE HELL \n\n   Justin     0.0       1.0

Predictions for identity_hate class:

,comments,identity_hate,identity_hate_p
9213,== Bill Kaulitz is gay! ==,0.0,1.0
10571,super gay ass shit,1.0,1.0
12962,== gay == \n\n v gay,0.0,1.0
13493,== u gay == \n\n u gay,0.0,1.0
13922,== are you a gay == \n\n are you gay with ritesh,1.0,1.0